.blog-detail{
    .bd-left{
        .bd-image{
            img{

            }
        }
    }

    .bd-right{
        background-color: $pink-bgc;
        padding: 273px 0;
        .bd-content{
            a{
                color: $black;
                text-decoration: none;
            }

            .bd-desc{
                color: $black;
                width: 66%;
                letter-spacing: 1.3px;
                line-height: 49px;
                margin: 30px auto;
            }

            .bd-by{
                 color: $black;                
            }
        }
    }
}

.bd-about{
    margin: 80px auto;
    // margin: 1px auto;
    .bd-about-content{
        .bd-about-fp{
            font-size: 19px;
            width: 58%;
            margin-bottom: 22px;
                line-height: 33px;
        }
        .bd-about-sp{
            font-size: 19px;
            width: 58%;
                line-height: 33px;
        }
    }
}