.shop-slider {
  background-image: url("../img/shop/shop-header/shop-header-1.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.shop-slider .shop-slider-content {
  text-align: start;
  margin-left: 90px;
  padding-top: 242px;
  align-items: center;
}
.shop-slider .shop-slider-content h1 {
  font-size: 40x;
  color: #000;
  letter-spacing: 3px;
}
.shop-slider .shop-slider-content p {
  width: 40%;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 30px;
  color: #000;
}

.shop .breadcrumb-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop .breadcrumb-sort .bs-left p {
  color: #000;
  font-size: 18px;
}
.shop .breadcrumb-sort .bs-right .woocommerce-ordering .orderby {
  padding: 15px;
  color: #000;
  border: 1px solid #000;
}
.shop .shop-left hr {
  width: 85%;
}
.shop .shop-left .filter-bycolor {
  color: #000;
}
.shop .shop-left .filter-bycategory {
  color: #000;
}
.shop .shop-left .filter-byprice .filterprice-p {
  color: #000;
  margin-bottom: 35px;
}
.shop .shop-left .filter-byprice .filterpricebtn {
  font-weight: 500;
  text-decoration: none;
  padding: 20px 45px;
  color: #000;
  border: 1px solid #000;
}
.shop .shop-left .filter-byprice .filterpricebtn:hover {
  background-color: #000;
  color: #fff;
  transition: 0.4s;
}
.shop .shop-left .filter-byprice .price-range-slider {
  width: 100%;
  float: left;
  padding: 10px 20px;
}
.shop .shop-left .filter-byprice .price-range-slider .range-value {
  margin: 0;
}
.shop .shop-left .filter-byprice .price-range-slider .range-value input {
  width: 100%;
  background: none;
  color: #000;
  font-size: 16px;
  font-weight: initial;
  box-shadow: none;
  border: none;
  margin: 20px 0 20px 0;
}
.shop .shop-left .filter-byprice .price-range-slider .range-bar {
  border: none;
  background: #000;
  height: 3px;
  width: 96%;
  margin-left: 8px;
}
.shop .shop-left .filter-byprice .price-range-slider .range-bar .ui-slider-range {
  background: #000;
}
.shop .shop-left .filter-byprice .price-range-slider .range-bar .ui-slider-handle {
  border: none;
  border-radius: 25px;
  background: #fff;
  border: 2px solid #000;
  height: 17px;
  width: 17px;
  top: -0.52em;
  cursor: pointer;
}
.shop .shop-left .filter-byprice .price-range-slider .range-bar .ui-slider-handle + span {
  background: #000;
}
.shop .shop-right {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.shop .shop-right .shop-box {
  position: relative;
  width: 100%;
  margin: auto;
  transition: 0.5s ease;
}
.shop .shop-right .shop-box .shop-image {
  overflow: hidden;
}
.shop .shop-right .shop-box .shop-image img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.shop .shop-right .shop-box .shop-image:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.shop .shop-right .shop-box .shop-image:hover img {
  opacity: 0.3;
}
.shop .shop-right .shop-box .shop-content {
  margin-top: 15px;
  text-align: center;
}
.shop .shop-right .shop-box .shop-icons-overlay {
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  text-align: center;
  display: flex;
  opacity: 1;
}
.shop .shop-right .shop-box .shop-icons-overlay i {
  font-size: 22px;
  margin-right: 15px;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.shop .shop-right .shop-box .shop-icons-overlay i:hover {
  display: block !important;
  opacity: 1;
  transition: 0.4s;
  background-color: #000;
  color: #fff;
}
.shop .shop-right .shop-box:hover .shop-icons-overlay {
  transform: translate(-40%, -60%);
  visibility: visible;
}

.slider {
  background-image: url("../img/home/first-slider/slider-1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider .slider-content {
  text-align: start;
  margin-left: 90px;
  padding-top: 242px;
  align-items: center;
}
.slider .slider-content h1 {
  font-size: 45px;
  color: #fff;
  letter-spacing: 3px;
}
.slider .slider-content p {
  letter-spacing: 1px;
  font-size: 22px;
  margin-top: 30px;
  color: #fff;
}
.slider .slider-content .slider-links {
  padding-top: 44px;
}
.slider .slider-content .slider-links a {
  margin-right: 16px;
  padding: 20px 45px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 19px;
}
.slider .slider-content .slider-links .first-btn {
  background-color: #fff;
}
.slider .slider-content .slider-links .second-btn {
  color: #fff !important;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out !important;
}
.slider .slider-content .slider-links .second-btn:hover {
  background-color: #fff;
  color: #000 !important;
}

.brands .brands-images {
  margin-top: 100px;
  margin-bottom: 100px;
}
.brands .brands-images .brands-images-ul {
  list-style: none;
  display: flex;
}

.sustainability {
  background-color: #f0ece4;
}
.sustainability .sus {
  display: flex;
  justify-content: space-around;
}
.sustainability .sus .sus-left {
  width: 50%;
}
.sustainability .sus .sus-left .sus-image img {
  width: 70%;
}
.sustainability .sus .sus-right {
  width: 60%;
}
.sustainability .sus .sus-right .sus-content {
  margin: auto;
}
.sustainability .sus .sus-right .sus-content h1 {
  font-size: 44px;
  width: 50%;
  margin-bottom: 33px;
  color: #000;
}
.sustainability .sus .sus-right .sus-content p {
  width: 70%;
  font-size: 22px;
  margin-bottom: 66px;
  color: #000;
}
.sustainability .sus .sus-right .sus-content a {
  text-decoration: none;
  padding: 20px 45px;
  color: #000;
  border: 1px solid #000;
}
.sustainability .sus .sus-right .sus-content a:hover {
  background-color: #000;
  color: #fff;
  transition: 0.4s;
}

.our-bestsellers .our-bestseller .our-box {
  position: relative;
  width: 90%;
  margin: auto;
  transition: 0.5s ease;
}
.our-bestsellers .our-bestseller .our-box .our-image {
  overflow: hidden;
}
.our-bestsellers .our-bestseller .our-box .our-image img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.our-bestsellers .our-bestseller .our-box .our-image:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.our-bestsellers .our-bestseller .our-box .our-image:hover img {
  opacity: 0.3;
}
.our-bestsellers .our-bestseller .our-box .our-content {
  margin-top: 15px;
  text-align: center;
}
.our-bestsellers .our-bestseller .our-box .our-icons-overlay {
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  text-align: center;
  display: flex;
  opacity: 1;
}
.our-bestsellers .our-bestseller .our-box .our-icons-overlay i {
  font-size: 22px;
  margin-right: 15px;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.our-bestsellers .our-bestseller .our-box .our-icons-overlay i:hover {
  display: block !important;
  opacity: 1;
  transition: 0.4s;
  background-color: #000;
  color: #fff;
}
.our-bestsellers .our-bestseller .our-box:hover .our-icons-overlay {
  transform: translate(-40%, -60%);
  visibility: visible;
}

.featured-products .featured-box {
  position: relative;
  overflow: hidden;
}
.featured-products .featured-box .featured-image {
  overflow: hidden;
  margin-bottom: 25px;
}
.featured-products .featured-box .featured-image img {
  width: 100%;
  transition: 1.1s;
}
.featured-products .featured-box .featured-image img:hover {
  transform: scale(1.1);
}
.featured-products .featured-box .featured-content {
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 3;
  bottom: 0;
  left: 0;
  padding: 40px;
  align-items: flex-end;
  justify-content: space-between;
}
.featured-products .featured-box .featured-content .featured-h2 {
  color: #fff;
}
.featured-products .featured-box .featured-content .featured-p {
  color: #fff;
}

.blog .blogs .blog-box {
  margin-left: 10px;
  margin-right: 10px;
}
.blog .blogs .blog-box .blog-image {
  overflow: hidden;
}
.blog .blogs .blog-box .blog-image img {
  width: 100%;
}
.blog .blogs .blog-box .blog-content {
  text-align: center;
  margin-top: 15px;
}
.blog .blogs .blog-box .blog-content a {
  color: #000;
  text-decoration: none;
}
.blog .blogs .blog-box .blog-content p {
  color: #000;
  font-weight: 500;
}
.blog .blog-btn a {
  padding: 18px 55px;
  border: 1px solid #000;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.3s;
}
.blog .blog-btn a:hover {
  background-color: #000;
  color: #fff;
}

.instagram .ig-big-image {
  overflow: hidden;
}
.instagram .ig-big-image img {
  width: 100%;
  transition: 1.1s;
}
.instagram .ig-big-image img:hover {
  transform: scale(1.1);
}
.instagram .ig-images {
  display: flex;
  flex-wrap: wrap;
}
.instagram .ig-images .ig-image {
  overflow: hidden;
  margin-right: 25px;
  margin-top: 25px;
}
.instagram .ig-images .ig-image img {
  width: 100%;
  transition: 1.1s;
}
.instagram .ig-images .ig-image img:hover {
  transform: scale(1.1);
}

.blog-slider {
  background-color: #fcf3f6;
  padding: 120px 0;
}
.blog-slider .blog-slider-left .blog-slider-image img {
  width: 100%;
}
.blog-slider .blog-slider-right .blog-slider-content .first-a {
  color: #000;
  text-decoration: none;
  letter-spacing: 1.1px;
}
.blog-slider .blog-slider-right .blog-slider-content h1 {
  width: 70%;
  color: #000;
  line-height: 55px;
  margin-top: 22px;
}
.blog-slider .blog-slider-right .blog-slider-content p {
  width: 80%;
  font-size: 22px;
  line-height: 35px;
  color: #000;
  margin: 18px 0 50px 0;
}
.blog-slider .blog-slider-right .blog-slider-content .second-a {
  text-decoration: none;
  padding: 16px 50px;
  color: #000;
  font-weight: 500;
  border: 1px solid #000;
  transition: 0.4s;
}
.blog-slider .blog-slider-right .blog-slider-content .second-a:hover {
  background-color: #000;
  color: #fff;
}

.blog {
  margin: 80px 0;
}
.blog .blog-filter a {
  text-decoration: none;
  margin-right: 44px;
  font-size: 17px;
  color: #000;
}
.blog .blogg {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.blog .blogg .blogg-box {
  margin-bottom: 40px;
  margin-right: 35px;
}
.blog .blogg .blogg-box .blogg-image img {
  width: 100%;
}
.blog .blogg .blogg-box .blogg-content {
  text-align: center;
  margin-top: 18px;
}
.blog .blogg .blogg-box .blogg-content a {
  color: #000;
  text-decoration: none;
}
.blog .blogg .blogg-box .blogg-content p {
  color: #000;
  font-weight: 500;
  margin-top: 10px;
}
.blog .blogg-btn a {
  padding: 18px 55px;
  border: 1px solid #000;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.3s;
}
.blog .blogg-btn a:hover {
  background-color: #000;
  color: #fff;
}

.contact-slider {
  background-image: url("../img/contact/contact-header/contact-header-1.jpg");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-slider .contact-content {
  text-align: start;
  margin-left: 150px;
  padding-top: 282px;
  align-items: center;
}
.contact-slider .contact-content h1 {
  width: 42%;
  font-size: 40px;
  color: #000;
  letter-spacing: 3px;
}
.contact-slider .contact-content p {
  width: 37%;
  font-size: 22px;
  margin-top: 30px;
  color: #000;
  line-height: 38px;
}

.getintouch {
  margin: 100px auto;
}
.getintouch .getintouch-left {
  margin-right: 55px;
}
.getintouch .getintouch-left .getintouch-image img {
  width: 100%;
}
.getintouch .getintouch-right {
  margin-left: 55px;
}
.getintouch .getintouch-right .getintouch-content h1 {
  color: #000;
}
.getintouch .getintouch-right .getintouch-content .main-p {
  color: #000;
  margin-top: 30px;
  font-size: 22px;
  width: 85%;
}
.getintouch .getintouch-right .getintouch-content .call-h6 {
  color: #000;
  margin-top: 40px;
}
.getintouch .getintouch-right .getintouch-content .call-p {
  color: #000;
  width: 35%;
  line-height: 30px;
}
.getintouch .getintouch-right .getintouch-content .call-p a {
  text-decoration: none;
  color: #000;
}
.getintouch .getintouch-right .getintouch-content .email-h6 {
  color: #000;
  margin-top: 40px;
}
.getintouch .getintouch-right .getintouch-content .email-p {
  color: #000;
  margin-bottom: 55px;
}

.comeandvisit {
  background-color: #fcf3f6;
  padding: 100px 0;
}
.comeandvisit .comeandvisit-left .comeandvisit-content .cav-h1 {
  color: #000;
}
.comeandvisit .comeandvisit-left .comeandvisit-content .cav-main-p {
  color: #000;
  font-size: 22px;
  letter-spacing: 1.3px;
  margin-top: 22px;
}
.comeandvisit .comeandvisit-left .comeandvisit-content .cav-hours-h6 {
  color: #000;
  margin-top: 40px;
}
.comeandvisit .comeandvisit-left .comeandvisit-content .cav-hours-p {
  color: #000;
}
.comeandvisit .comeandvisit-left .comeandvisit-content .cav-address-h6 {
  color: #000;
  margin-top: 40px;
}
.comeandvisit .comeandvisit-left .comeandvisit-content .cav-address-p {
  color: #000;
  margin-bottom: 66px;
}
.comeandvisit .comeandvisit-left .comeandvisit-content .joinourteam__btn {
  text-decoration: none;
  padding: 16px 55px;
  color: #000;
  border: 1px solid #000;
}
.comeandvisit .comeandvisit-left .comeandvisit-content .joinourteam__btn:hover {
  background-color: #000;
  color: #fff;
  transition: 0.4s;
}
.comeandvisit .comeandvisit-right .comeandvisit-map iframe {
  height: 600px;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
  max-width: 100%;
  width: 100%;
}

.dropusaline {
  margin: 100px 0;
}
.dropusaline .dropusaline-top .dropusaline-content h1 {
  color: #000;
  font-size: 44px;
  letter-spacing: 2.7px;
}
.dropusaline .dropusaline-top .dropusaline-content p {
  margin: 22px auto;
  line-height: 35px;
  width: 40%;
  font-size: 22px;
  color: #000;
}
.dropusaline .dropusaline-bottom .dropusaline-btn .sendmessage__btn {
  padding: 16px 45px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  font-weight: 500;
  transition: 0.4s;
}
.dropusaline .dropusaline-bottom .dropusaline-btn .sendmessage__btn:hover {
  opacity: 0.9;
}

.giftcard-slider {
  background-image: url("../img/giftCards/giftCards-header/Gift-Cards-header.jpg");
  height: 92vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.giftcard-slider .giftcard-content {
  text-align: start;
  margin-left: 150px;
  padding-top: 282px;
  align-items: center;
}
.giftcard-slider .giftcard-content h1 {
  width: 42%;
  font-size: 40px;
  color: #000;
  letter-spacing: 3px;
}
.giftcard-slider .giftcard-content p {
  width: 40%;
  letter-spacing: 1px;
  font-size: 22px;
  margin-top: 30px;
  color: #000;
}

.easytogive {
  margin-top: 80px;
}
.easytogive .easytogive-left .easytogive-box {
  margin-bottom: 22px;
  display: flex;
}
.easytogive .easytogive-left .easytogive-box .easytogive-box-image {
  margin-right: 55px;
  background-color: #fcf3f6;
  text-align: center;
  width: 15%;
  height: 100px;
  border-radius: 50%;
}
.easytogive .easytogive-left .easytogive-box .easytogive-box-image svg {
  margin-top: 22px;
}
.easytogive .easytogive-left .easytogive-box .easytogive-content h4 {
  margin-bottom: 11px;
  color: #000;
}
.easytogive .easytogive-left .easytogive-box .easytogive-content p {
  color: #000;
  font-size: 17px;
  width: 55%;
}
.easytogive .easytogive-right {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.easytogive .easytogive-right .easytogive-image img {
  width: 100%;
}

.egiftcard {
  margin: 70px 0;
  background-color: #fcf3f6;
  padding: 80px 0;
}
.egiftcard .egiftcard-left {
  margin-right: 60px;
}
.egiftcard .egiftcard-left .egiftcard-image img {
  width: 100%;
}
.egiftcard .egiftcard-right {
  margin-left: 60px;
}
.egiftcard .egiftcard-right .egiftcard-content h1 {
  color: #000;
}
.egiftcard .egiftcard-right .egiftcard-content p {
  color: #000;
  line-height: 35px;
  font-size: 22px;
  margin: 35px 0 70px 0;
  width: 85%;
}

.physicalgiftcard {
  margin-top: 90px;
  margin-bottom: 90px;
}
.physicalgiftcard .physicalgiftcard-content h1 {
  color: #000;
  margin-bottom: 26px;
}
.physicalgiftcard .physicalgiftcard-content p {
  color: #000;
  line-height: 35px;
  font-size: 21.5px;
  margin-bottom: 42px;
}
.physicalgiftcard .physicalgiftcard-image img {
  width: 100%;
}

.ourstory-slider {
  background-image: url("../img/ourStory/ourStory-header/our-story-header-1.jpg");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ourstory-slider .ourstory-content {
  text-align: start;
  margin-left: 150px;
  padding-top: 282px;
  align-items: center;
}
.ourstory-slider .ourstory-content h1 {
  width: 42%;
  font-size: 40px;
  color: #000;
  letter-spacing: 3px;
}
.ourstory-slider .ourstory-content p {
  width: 42%;
  letter-spacing: 1px;
  font-size: 22px;
  margin-top: 30px;
  color: #000;
}

.vegan {
  margin-top: 80px;
}
.vegan .vegan-left .vegan-box {
  margin-bottom: 22px;
  display: flex;
}
.vegan .vegan-left .vegan-box .vegan-box-image {
  margin-right: 55px;
  background-color: #fcf3f6;
  text-align: center;
  width: 30%;
  height: 100px;
  border-radius: 50%;
}
.vegan .vegan-left .vegan-box .vegan-box-image svg {
  margin-top: 22px;
}
.vegan .vegan-left .vegan-box .vegan-content h3 {
  margin-bottom: 11px;
  color: #000;
}
.vegan .vegan-left .vegan-box .vegan-content p {
  color: #000;
  font-size: 17px;
  width: 66%;
}
.vegan .vegan-right {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.founder {
  background-color: #fcf3f6;
}
.founder .founder-left .founder-image img {
  width: 460px;
}
.founder .founder-right .founder-content h2 {
  font-size: 35px !important;
  line-height: 56px !important;
  color: #000;
}
.founder .founder-right .founder-content .founder-first-p {
  width: 86%;
  color: #000;
  font-size: 25px;
}
.founder .founder-right .founder-content .founder-second-p {
  font-size: 20px;
  color: #000;
}
.founder .founder-right .founder-content .founder-second-p i {
  margin-right: 11px;
}

.ourmission {
  margin-top: 125px;
  margin-bottom: 125px;
}
.ourmission .ourmission-content h2 {
  color: #000;
}
.ourmission .ourmission-content p {
  margin: 17px auto;
  color: #000;
  width: 41%;
  font-size: 26px;
}

.ourstory-discover {
  background-image: url("../img/ourStory/discover-our-products/Discover-Products-our.jpg");
  background-attachment: fixed;
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ourstory-discover .discover-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourstory-discover .discover-div .discover-content {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.ourstory-discover .discover-div .discover-content h1 {
  color: #000;
}
.ourstory-discover .discover-div .discover-content p {
  color: #000;
  width: 55%;
  font-size: 22px;
  margin: 44px auto;
}

.joinourteam {
  margin-top: 90px;
  margin-bottom: 90px;
}
.joinourteam .joinourteam-content h1 {
  color: #000;
  margin-bottom: 26px;
}
.joinourteam .joinourteam-content p {
  color: #000;
  line-height: 35px;
  font-size: 21.5px;
  margin-bottom: 42px;
}
.joinourteam .joinourteam-content .team__btn {
  text-decoration: none;
  padding: 16px 50px;
  color: #000;
  font-weight: 500;
  border: 1px solid #000;
}
.joinourteam .joinourteam-content .team__btn:hover {
  background-color: #000;
  color: #fff;
  transition: 0.4s;
}
.joinourteam .joinourteam-image img {
  width: 100%;
}

.product .product-top-title {
  margin-top: 100px;
  margin-bottom: 30px;
}
.product .product-left .product-image img {
  width: 100%;
}
.product .product-right .product-content h1 {
  color: #000;
}
.product .product-right .product-content .product-price {
  color: #000;
  margin: 24px 0;
  font-size: 21.5px;
}
.product .product-right .product-content .product-desc {
  font-size: 20px;
  width: 77%;
  margin-bottom: 30px;
  line-height: 33px;
}
.product .product-right .product-content .pro-title {
  display: flex;
  align-items: center;
}
.product .product-right .product-content .pro-title .pro-left {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  padding: 10px 35px;
  margin-right: 25px;
}
.product .product-right .product-content .pro-title .pro-left .span-minus {
  font-size: 28px;
  margin-right: 8px;
}
.product .product-right .product-content .pro-title .pro-left .pro-count {
  font-size: 22px;
}
.product .product-right .product-content .pro-title .pro-left .span-plus {
  font-size: 28px;
  margin-left: 8px;
}
.product .product-right .product-content .pro-title .pro-center button {
  padding: 17.8px 50px;
  color: #fff;
  background-color: #000;
  font-weight: 500;
  transition: 0.4s;
}
.product .product-right .product-content .pro-title .pro-center button:hover {
  opacity: 0.9;
}
.product .product-right .product-content .pro-right {
  display: flex;
  align-items: center !important;
  margin-top: 22px;
}
.product .product-right .product-content .pro-right .pro-right-title .addtowislist {
  color: #000;
  opacity: 0.6;
  margin-left: 12px;
}
.product .product-right .product-content .pro-right .pro-right-icon i {
  font-size: 22px;
}
.product .product-right .product-content .pro-category-desc {
  margin: 28px 0;
  width: 77%;
}
.product .product-right .product-content .pro-tag-desc {
  margin: 28px 0;
}

.related-product {
  margin-top: 80px;
}
.related-product .related-products {
  display: flex;
  margin-bottom: 100px;
}
.related-product .related-products .related-box {
  position: relative;
  width: 90%;
  margin: auto;
  transition: 0.5s ease;
}
.related-product .related-products .related-box .related-image {
  overflow: hidden;
}
.related-product .related-products .related-box .related-image img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.related-product .related-products .related-box .related-image:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.related-product .related-products .related-box .related-image:hover img {
  opacity: 0.3;
}
.related-product .related-products .related-box .related-content {
  margin-top: 15px;
  text-align: center;
}
.related-product .related-products .related-box .related-icons-overlay {
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  text-align: center;
  display: flex;
  opacity: 1;
}
.related-product .related-products .related-box .related-icons-overlay i {
  font-size: 22px;
  margin-right: 15px;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.related-product .related-products .related-box .related-icons-overlay i:hover {
  display: block !important;
  opacity: 1;
  transition: 0.4s;
  background-color: #000;
  color: #fff;
}
.related-product .related-products .related-box:hover .related-icons-overlay {
  transform: translate(-40%, -60%);
  visibility: visible;
}

.values-slider {
  background-image: url("../img/values/values-header/values-header-1.jpg");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.values-slider .values-content {
  text-align: start;
  margin-left: 150px;
  padding-top: 282px;
  align-items: center;
}
.values-slider .values-content h1 {
  width: 42%;
  font-size: 40px;
  color: #fff;
  letter-spacing: 3px;
}
.values-slider .values-content p {
  width: 42%;
  font-size: 22px;
  margin-top: 30px;
  color: #fff;
}

.ingredients {
  margin: 70px 0;
  background-color: #fcf3f6;
  padding: 80px 0;
}
.ingredients .ingredients-left {
  margin-right: 60px;
}
.ingredients .ingredients-left .ingredients-image img {
  width: 100%;
}
.ingredients .ingredients-right {
  margin-left: 60px;
}
.ingredients .ingredients-right .ingredients-content h1 {
  color: #000;
}
.ingredients .ingredients-right .ingredients-content p {
  color: #000;
  line-height: 35px;
  font-size: 22px;
  margin: 35px 0 70px 0;
  width: 85%;
}

.values-founder {
  margin: 100px 0;
}
.values-founder .values-founder-content {
  margin: auto;
}
.values-founder .values-founder-content h3 {
  color: #000;
}
.values-founder .values-founder-content .values-founder-first-p {
  color: #000;
  margin: 50px auto;
  font-size: 22px;
  width: 48%;
}
.values-founder .values-founder-content .values-founder-second-p a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.4px;
}

.values-discover {
  background-image: url("../img/values/discover-our-products2/Discover-Products.jpg");
  background-attachment: fixed;
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.values-discover .values-discover-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.values-discover .values-discover-div .values-discover-content {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.values-discover .values-discover-div .values-discover-content h1 {
  color: #000;
}
.values-discover .values-discover-div .values-discover-content p {
  color: #000;
  width: 55%;
  font-size: 22px;
  margin: 44px auto;
}

.whatmakesus .whatmakesus-left .whatmakesus-content h1 {
  margin-bottom: 26px;
  color: #000;
}
.whatmakesus .whatmakesus-left .whatmakesus-content .wmu-first-h6 {
  margin-bottom: 18px;
  color: #000;
}
.whatmakesus .whatmakesus-left .whatmakesus-content .wmu-first-p {
  margin-top: 18px;
  line-height: 30px;
  width: 79%;
  color: #000;
}
.whatmakesus .whatmakesus-right .whatmakesus-image img {
  width: 100%;
}

.wishlist {
  margin-top: 135px;
  margin-bottom: 60px;
}
.wishlist .wishlist-content h1 {
  color: #000;
}
.wishlist .wishlist-nav {
  display: flex;
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.wishlist .wishlist-nav h6 {
  margin: 22px 70px 22px 70px;
}
.wishlist .wishlist-p {
  margin: 100px 0;
}

.notfound {
  padding: 200px 0;
}
.notfound .notfound-content h1 {
  color: #000;
}
.notfound .notfound-content p {
  color: #000;
  margin: 25px 0 55px 0;
  font-size: 18px;
}
.notfound .notfound-content a {
  text-decoration: none;
  padding: 16px 50px;
  color: #000;
  font-weight: 500;
  border: 1px solid #000;
  transition: 0.4s;
}
.notfound .notfound-content a:hover {
  background-color: #000;
  color: #fff;
}

.blog-detail .bd-right {
  background-color: #fcf3f6;
  padding: 273px 0;
}
.blog-detail .bd-right .bd-content a {
  color: #000;
  text-decoration: none;
}
.blog-detail .bd-right .bd-content .bd-desc {
  color: #000;
  width: 66%;
  letter-spacing: 1.3px;
  line-height: 49px;
  margin: 30px auto;
}
.blog-detail .bd-right .bd-content .bd-by {
  color: #000;
}

.bd-about {
  margin: 80px auto;
}
.bd-about .bd-about-content .bd-about-fp {
  font-size: 19px;
  width: 58%;
  line-height: 33.5px;
  margin: auto;
}
.bd-about .bd-about-content .bd-about-sp {
  font-size: 19px;
  width: 58%;
  line-height: 33.5px;
  margin: 22px auto;
}

.bd-center-image .bd-c-image img {
  width: 100%;
}

.bd-about-second .bd-about-spd p {
  font-size: 19px;
  width: 58%;
  margin: 80px auto;
  line-height: 33.5px;
}

.bd-bottom-image .bd-bottom-images {
  margin: 0 auto;
}
.bd-bottom-image .bd-bottom-images img {
  width: 100%;
}

.bd-about-third {
  margin: 80px auto;
}
.bd-about-third .bd-about-third-content .bd-about-tfp {
  font-size: 19px;
  width: 58%;
  line-height: 33.5px;
  margin: auto;
}
.bd-about-third .bd-about-third-content .bd-about-tsp {
  font-size: 19px;
  width: 58%;
  line-height: 33.5px;
  margin: 22px auto;
}

.bd-tag .bd-tag-title h1 {
  color: #000;
}
.bd-tag .bd-tag-title .tags {
  margin-top: 40px;
  margin-bottom: 100px;
}
.bd-tag .bd-tag-title .tags a {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 11px 22px;
  margin: 0 10px 0 10px;
}

.bd-links .bd-share-title {
  margin-bottom: 100px;
}
.bd-links .bd-share-title h3 {
  color: #000;
  margin-bottom: 30px;
}
.bd-links .bd-share-title a {
  transition: 0.4s;
  margin: 0 10px 0 10px;
}
.bd-links .bd-share-title a i {
  font-size: 22px;
  color: #000;
}
.bd-links .bd-share-title a:hover {
  opacity: 0.8;
}

.terms-slider {
  background-image: url("../img/terms&conditions/terms&conditions.jpg");
  height: 92vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.terms-slider .terms-content {
  text-align: start;
  margin-left: 150px;
  padding-top: 365px;
  align-items: center;
}
.terms-slider .terms-content h1 {
  width: 42%;
  font-size: 40px;
  color: #000;
  letter-spacing: 3px;
}

.last-updated {
  margin: 85px 0 50px;
}
.last-updated .last-updated-content h1 {
  color: #000;
  width: 54%;
  margin: 20px auto;
}
.last-updated .last-updated-content .last-first-desc {
  font-size: 18px;
  color: #000;
  width: 54%;
  margin: 10px auto;
}

.policy-slider {
  background-image: url("../img/privacyPolicy/privacyPolicy.jpg");
  height: 92vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.policy-slider .policy-content {
  text-align: start;
  margin-left: 150px;
  padding-top: 355px;
  align-items: center;
}
.policy-slider .policy-content h1 {
  width: 42%;
  font-size: 40px;
  color: #000;
  letter-spacing: 3px;
}

.policy-updated {
  margin: 85px 0 50px;
}
.policy-updated .policy-updated-content h1 {
  color: #000;
  width: 54%;
  margin: 20px auto;
}
.policy-updated .policy-updated-content .policy-first-desc {
  font-size: 18px;
  color: #000;
  width: 54%;
  margin: 10px auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shopNowOrAll__btn {
  text-decoration: none;
  padding: 20px 45px;
  color: #000;
  border: 1px solid #000;
  transition: 0.4s;
}

.shopNowOrAll__btn:hover {
  background-color: #000;
  color: #fff;
}

.other-dropbtn {
  color: #000;
  border: none;
}

.other-dropdown {
  position: relative;
  display: inline-block;
}

.other-dropdown a {
  color: #000;
  text-decoration: none;
}

.other-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  text-align: start !important;
  min-width: 200px;
  min-height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 15px;
}

.other-dropdown-content h6 {
  text-align: start !important;
}

.other-dropdown-content a {
  border: none !important;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.other-dropdown-content a:hover {
  opacity: 0.7;
}

.other-dropdown:hover .other-dropdown-content {
  display: block;
}

body {
  overflow-x: hidden;
}

header {
  padding-top: 0 !important;
  margin-top: 0 !important;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}
header .head {
  padding: 20px 0;
  transition: 0.3s;
}
header .head:hover {
  background-color: #fff;
  color: #000;
}
header .head.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
header .head.scrolled a {
  color: #000 !important;
}
header .head.scrolled .nav a {
  color: #000 !important;
}
header .logo {
  text-align: center;
}
header .logo img {
  width: 40%;
}
header nav a {
  text-decoration: none;
  margin-right: 36px;
  font-weight: 500;
  color: #000 !important;
  border-bottom: 1px solid transparent;
}
header .nav a:hover {
  border-bottom: 1px solid #000;
  transition: 0.4s;
}
header .icons {
  text-align: center;
}
header .icons .icon {
  margin-right: 22px;
  font-size: 20px;
}
header .icons .bag {
  margin-right: 11px;
  font-size: 20px;
}
header .icons span {
  font-size: 20px;
}

footer {
  padding: 44px 15px;
  margin-top: 10px;
  background-color: #000;
}
footer .footer {
  margin-top: 60px;
}
footer .footer .fbox .footer-logo img {
  width: 28%;
}
footer .footer .fbox .footer-logo .footer-icons {
  margin-top: 20px;
}
footer .footer .fbox .footer-logo .footer-icons i {
  font-size: 18px;
  color: #fff;
  margin-right: 10px;
  transition: 0.3s;
}
footer .footer .fbox .footer-logo .footer-icons i:hover {
  opacity: 0.7;
}
footer .footer .fbox h6 {
  color: #fff;
}
footer .footer .fbox a {
  color: #fff;
  display: block;
  text-decoration: none;
  margin-top: 15px;
  transition: 0.3s;
}
footer .footer .fbox a:hover {
  opacity: 0.7;
}
footer .footer .fbox p {
  color: #fff;
}
footer .footer .fbox .footer-input input {
  outline: none;
  background-color: #000;
  padding: 12px 40px 12px 8px;
  border: 1px solid #fff;
  color: #fff;
}
footer .footer .fbox .footer-input ::-moz-placeholder {
  color: #fff;
}
footer .footer .fbox .footer-input :-ms-input-placeholder {
  color: #fff;
}
footer .footer .fbox .footer-input ::placeholder {
  color: #fff;
}
footer .footer .fbox .footer-input ::-moz-placeholder:hover {
  opacity: 0.7;
}
footer .footer .fbox .footer-input :-ms-input-placeholder:hover {
  opacity: 0.7;
}
footer .footer .fbox .footer-input ::placeholder:hover {
  opacity: 0.7;
}
footer .footer .fbox .footer-input button {
  padding: 11.7px 5px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  transition: 0.3s;
}
footer .footer .fbox .footer-input button:hover {
  background-color: #fff;
  color: #000;
}
footer .copyright {
  margin-top: 44px;
  border-top: 1px solid gray;
  color: #fff;
  text-align: center;
}
footer .copyright .copyright-top {
  margin-bottom: 22px;
}
footer .copyright .copyright-top i {
  margin: 55px 6px auto;
  font-size: 22px;
  color: #fff;
  opacity: 0.7;
}
footer .copyright .copyright-bottom p {
  margin-top: 44px 0;
}

.subscribe {
  margin-top: 100px;
  text-align: center;
}
.subscribe .sub-box .sub-image {
  margin-bottom: 15px;
}
.subscribe .sub-box .sub-content h3 {
  margin-bottom: 15px;
  color: #000;
}
.subscribe .sub-box .sub-content p {
  margin-bottom: 25px;
  color: #000;
  font-size: 18px;
  letter-spacing: 1.2px;
}
.subscribe .sub-box .sub-content .sub-input {
  margin-bottom: 100px;
}
.subscribe .sub-box .sub-content .sub-input input {
  outline: none;
  background-color: #fff;
  padding: 12px 120px 12px 8px;
  border: 1px solid #000;
  color: #000;
}
.subscribe .sub-box .sub-content .sub-input ::-moz-placeholder {
  color: #000;
}
.subscribe .sub-box .sub-content .sub-input :-ms-input-placeholder {
  color: #000;
}
.subscribe .sub-box .sub-content .sub-input ::placeholder {
  color: #000;
}
.subscribe .sub-box .sub-content .sub-input ::-moz-placeholder:hover {
  opacity: 0.7;
}
.subscribe .sub-box .sub-content .sub-input :-ms-input-placeholder:hover {
  opacity: 0.7;
}
.subscribe .sub-box .sub-content .sub-input ::placeholder:hover {
  opacity: 0.7;
}
.subscribe .sub-box .sub-content .sub-input button {
  padding: 11.7px 20px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  transition: 0.3s;
}
.subscribe .sub-box .sub-content .sub-input button:hover {
  background-color: #000;
  color: #fff;
}

.service {
  margin: 90px 0;
  padding: 88px 0;
  background-color: #fcf3f6;
}
.service .service-box .service-image {
  text-align: center;
}
.service .service-box .service-content {
  text-align: center;
  margin-top: 22px;
}
.service .service-box .service-content h5 {
  color: #000;
}
.service .service-box .service-content p {
  color: #000;
}/*# sourceMappingURL=style.css.map */